@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 80px;
    background-color: #0c2834;
    padding: 24px 50px 24px 50px;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}

.header-content {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-image {
    height: 40px;
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    z-index: 1001;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: #F9F8FD;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.side-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    max-width: 300px;
    background-color: #071820;
    z-index: 1000;
    overflow-x: hidden;
    transition: width 0.3s ease-in-out;
    padding-top: 80px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
}

.side-menu.open {
    width: 80%;
}

.side-menu nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu nav ul li a {
    padding: 15px 50px;
    text-decoration: none;
    font-size: 1.2em;
    color: #F9F8FD;
    display: block;
    transition: background-color 0.3s;
}

.side-menu nav ul li a:hover {
    background-color: rgba(2, 140, 220, 0.884);
}

main {
    background-color: #071820;
    color: #F9F8FD;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 50px 0;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #0c2834;
    padding: 14px;
    border-radius: 12px;
    filter: drop-shadow(0px 0px 8px rgba(2, 140, 220, 0.884));
    max-width: 1920px;
    margin: 0 auto;
}

h3 {
    margin-top: 0px;
    margin-bottom: 8px;
}

.label-contact {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-top: 8px;
    padding-right: 0px;
}

label {
    padding-right: 10px;
}

input {
    border: 1px solid #ededed;
}

.input-contact {
    height: 28px;
    width: 100%;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    background-color: #ededed9e;
    font-weight: bold;
}

textarea {
    resize: none;
    border-radius: 8px;
    background-color: #ededed9e;
    font-weight: bold;
}

.button-send {
    background-color: rgba(2, 140, 220, 0.884);
    color: white;
    border: none;
    height: 28px;
    width: 120px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
}

footer {
    display: flex;
    background-color: #0c2834;
    align-items: center;
    height: 150px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.footer-logo {
    height: 47px;
    width: 47px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.6s ease-in-out;
}

.footer-logo:hover {
    transform: rotateY(360deg);
}

.data-protection-imprint {
    text-decoration: none;
    color: white;
    display: flex;
    padding: 6px;
}

.data-protection-imprint:hover {
    color: rgba(2, 140, 220, 0.884);
}

.footer-socials {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.social-img {
    height: 47px;
    transition: transform 0.6s ease-in-out;
}

.social-img:hover {
    transform: rotateY(360deg);
}

@media (min-width: 320px) and (max-width: 768px) {
    header {
        padding-left: 32px;
        padding-right: 32px;
    }
    main {
        padding: 24px 8px 24px 8px;
    }
    form {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 32px;
    }
    footer {
        padding-left: 32px;
        padding-right: 32px;
    }
    .data-protection-imprint {
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        padding-left: 10px;
    }
    .footer-socials {
        gap: 16px;
    }
    .footer-socials img {
        height: 40px;
        width: 40px;
    }
}