@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 80px;
    background-color: #0A222C;
}

.logo-image {
    height: 40px;
    padding: 16px 0px 0px 16px;
}

main {
    background-color: #071820;
}

.main-header {
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #F9F8FD;
    margin: 0 0 0 0;
}