@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 80px;
    background-color: #0A222C;
    padding: 24px 50px 24px 50px;
}

.header-content {
    max-width: 1920px;
    margin: 0 auto;
}

.logo-image {
    height: 40px;
}

main {
    background-color: #071820;
    flex: 1;
    padding: 0px 50px 50px 50px;
}

.main-header {
    margin: 72px 0px 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #F9F8FD;
    margin: 0 0 0 0;
}

.photo-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
}

.photo-container {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 12px;
    border-color: rgba(2, 140, 220, 0.447);
    border-width: 1px;
    border-style: solid;
}

.photo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

footer {
    display: flex;
    background-color: #0A222C;
    align-items: center;
    height: 150px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.profile-pic-and-name {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 8px;
}

.name {
    color: white;
}

.footer-logo {
    height: 47px;
    width: 47px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.6s ease-in-out;
}

.footer-logo:hover {
    transform: rotateY(360deg);
}

.data-protection-imprint {
    text-decoration: none;
    color: white;
    display: flex;
    padding: 6px;
}

.data-protection-imprint:hover {
    color: #071820;
    filter: drop-shadow(0px 0px 3px rgba(55, 151, 207, 0.71));
}

.footer-socials {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.social-img {
    height: 47px;
    transition: transform 0.6s ease-in-out;
}

.social-img:hover {
    transform: rotateY(360deg);
}